.btn-dgr {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.88rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }
  
  .btn-dgr:hover {
    background-color: #c0392b;
}


.btn-prim {
    background-color: #032792;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.88rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }
  
  .btn-prim:hover {
    background-color: #021d6e;
    border-color: #fff;
  }

