.ls{
    background: #f0efef !important;
    color: #fff !important;
    height: 67vh !important;
}

body.dark .ls{
    background: #001030 !important;    
}

.ls-top{
    padding: 0 20px 20px !important;
}

.ls-nav{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.ls-nav .logo{
    max-width: 60px !important;
}

.ls-nav .menu svg{
    font-size: 20px !important;
    opacity: 0.8 !important;
    cursor: pointer !important;
    color: black !important;
}

.ls-search{
    background-color: #c9ced7 !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    padding: 10px 12px !important;
    margin-top: 20px !important;
    border-radius: 6px !important;
}

.icon-client{
    color: #001030;
    font-size: 1.5em;
    opacity: 0.7;
}

body.dark .icon-client{
    color: #fff;
}

.friends2 .lign-clien{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.profil-clients{
    display: flex !important;
    gap: 1em;
}

.text-profil-clients{
    display: flex !important;
    flex-direction: column !important;
    color: #001030;
}

body.dark .ls-search{
    background-color: #1d366d !important;
}

.ls-search svg{
    font-size: 18px !important;
    color: #001030;
}

body.dark .ls-search svg{
    color: #dbdbdb;
}

.ls-search input{
    background: transparent !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    color: black !important;
    font-size: 13px !important;
}

body.dark .ls-search input{
    color: #eeeeee !important;
}

.ls-search input::placeholder{
    color: rgb(41, 41, 41) !important;
}

body.dark .ls-search input::placeholder{
    color: rgb(214, 214, 214) !important;
}

.ls-list{
    display: flex !important;
    flex-direction: column !important;
    height: 70% !important;
    overflow: auto !important;
}

.ls-list img{
    width: 55px !important;
    aspect-ratio: 1/1 !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.friends2 .lign-clien{
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    padding: 10px 20px !important;
    font-size: 13px !important;
}

.btn-action-clients svg{
    font-size: 2.5em;
    margin: 0 0.2em;
    color: #204184;
    cursor: pointer;
    padding: 0 0.2em;
    border-radius: 50%;
}

.btn-action-clients .icon-action-clien1:hover{
    color: rgb(39, 27, 212);
    background: #b8c8ec7d;
}

.btn-action-clients .icon-action-clien2:hover{
    color: rgb(21, 134, 68);
    background: #b8c8ec7d;
}

.btn-action-clients .icon-action-clien3:hover{
    color: rgb(212, 67, 27);
    background: #b8c8ec7d;
}

.friends div{
    display: flex !important;
    flex-direction: column !important;
    line-height: -10;
}

.friends2 span{
    font-size: 11px !important;
}

.friends2:hover{
    background-color: #077fff19 !important;
}

.friends2:hover span{
    color: #fff !important;
}

.ls-nav .menu{
    position: relative !important;
    padding: 10px 0 !important;
}

.menu .sub-menu{
    position: absolute !important;
    top: 100% !important;
    right: 0 !important;
    width: 130px !important;
    padding: 20px !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: black !important;
    display: none !important;
}

body.dark .menu .sub-menu{
    background-color: #151581 !important;
    color: black !important;
}

.sub-menu hr{
    border: none !important;
    height: 1px !important;
    background: #a4a4a4 !important;
    margin: 8px 0 !important;
}

.sub-menu p{
    cursor: pointer !important;
    font-size: 14px !important;
}

.menu:hover .sub-menu{
    display: block !important;
}


